"""Gunicorn configuration for Mailman3
"""
import os

# ensure settings module name doesn't include invalid characters
_django_settings_module = os.environ.get("DJANGO_SETTINGS_MODULE")
if _django_settings_module:
    os.environ["DJANGO_SETTINGS_MODULE"] = _django_settings_module.replace(".", "_").replace("-", "_")
