#jinja2: trim_blocks: False
{% for mx in mailman3_distribute_maps %}{% if mx.host != 'all' -%}
{{ mx.host }}{% for opt in mx | sort %}{% if opt != 'host' %} {{ opt }}={{ mx[opt] }}{% endif %}{% endfor %}
{% endif %}{% endfor %}
[all:vars]
mailman3_var_dir = {{ mailman3_var_dir }}
{% set all_vars = mailman3_distribute_maps | selectattr("host", "eq", "all") | first -%}
{% if all_vars is defined -%}
{% for opt in all_vars | sort %}{% if opt != 'host' -%}
{{ opt }} = {{ all_vars[opt] }}
{% endif %}{% endfor -%}
{% endif -%}
