[Unit]
Description=Mailman 3 Django web {% if mailman3_domains is defined %}(domain %i) {% endif %}service
After=network.target
Documentation=https://mailman.readthedocs.io/
ConditionPathExists={{ mailman3_django_project_dir }}/settings.py

[Service]
ExecStart={{ mailman3_wsgi_command }}
ExecReload=kill -HUP $MAINPID
Environment=DJANGO_SETTINGS_MODULE=settings{{ mailman3_domains is defined | ternary('_%i', '') }}
Restart=on-failure
Type=notify
NotifyAccess=all
User={{ __mailman3_web_user_name }}
Group={{ __mailman3_web_group_name }}

[Install]
WantedBy=multi-user.target
