[Unit]
Description=Mailman 3 Django/uWSGI service
After=network.target
Documentation=https://mailman.readthedocs.io/
ConditionPathExists={{ mailman3_django_project_dir }}/settings.py

[Service]
ExecStart={{ mailman3_install_dir }}/bin/{{ mailman3_python_uwsgi_package }} --ini {{ mailman3_etc_dir }}/uwsgi.ini
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User=root
Group=root

[Install]
WantedBy=multi-user.target
